<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>Google Kalender einbinden</title>
  <script src="https://apis.google.com/js/api.js"></script>
  <script>
    const clientId = '';
    const scopes = 'https://www.googleapis.com/auth/calendar';

    function handleClientLoad() {
      gapi.load('client:auth2', initClient);
    }

    function initClient() {
      gapi.client.init({
        clientId: clientId,
        scope: scopes
      }).then(() => {
        document.getElementById('signin-button').onclick = handleAuthClick;
      });
    }

    function handleAuthClick(event) {
      gapi.auth2.getAuthInstance().signIn().then(() => {
        console.log('User signed in');
        // Hier können Sie den Google Kalender des Benutzers einbinden.
      });
    }
  </script>
</head>
<body onload="handleClientLoad()">
  <h1>Google Kalender einbinden</h1>
  <button id="signin-button">Mit Google anmelden</button>
</body>
</html>
